# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
# .env

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Docker-related ignores
# Docker Compose override files
docker-compose.override.yml

# Docker environment variables
.env.docker

# Docker build files
/build
/tmp

# Docker secrets
secrets/
